body {
    max-height: 100vh;
    background-color: #204856 !important;
}

.container {
    margin-top: 15vh;
}

/* Styling the left section */

#left h1 {
    font-family: 'Skranji', sans-serif;
    color: #F9CA7F;
    font-size: 50px;
}

button {
    width: 150px;
    font-family: 'Righteous', sans-serif !important;
    font-size: 20px !important;
    color: white !important;
    border: 0 !important;
    background-color: #5D9466;
}

/* Styling the grid */

#grid-container {
    display: grid;
    width: 400px;
    height: 400px;
    border: 15px solid #D84C40;
    background-color: #E1E7DE;
}

.grid-item {
    background-color: #E1E7DE;
    border: .5px solid lightgray !important;
}

.onHover {
    background-color: black;
}